<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
	<p>Scientific researcher with interests in neuroscience, artifical intelligence, and computational biology. Have worked on research projects in fields such as molecular and computational neuroscience, organic chemistry, and clinical psychology. Having worked as both a researcher and educator, both in and out of academic settings, can effectively communicate complex scientific and mathematical concepts in accessible ways. </p>
	<p>Working as an Emergency Medical Technician and student representative has helped develop excellent teamwork and leadership skills, as well as comfort working in high-pressure situations.</p>
</div><!--//summary-->
</section><!--//section-->
