<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
	<p>Scientific researcher with interests in neuroscience, artifical intelligence, and computational biology, with experience working on research projects in fields such as molecular and computational neuroscience, organic chemistry, and clinical psychology. Has worked as both a researcher and educator, both in and out of formal academic settings, with a special focus on STEM topics, including chemistry, biology, and mathematics. Occasional scientific correspondent for Psymposia Magazine. </p>
</div><!--//summary-->
</section><!--//section-->
