<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment &amp; Volunteering</h2>
                
<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MPhil Student</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
			<div class="company">University of Cambridge &amp; United Kingdom </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>MPhil Student in Clinical Neurosciences, working at Addenbrooke's Hospital, in the University Department of Anesthetics. Contributing to on-going projects related to the neuarl mechanisms of anesthesia, and the role of functional connectivity in the maintenance of consciousness, under both anesthesia and in cases of traumatic brain injury.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mathematics Tutor</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
			<div class="company">Boston &amp; Washington, DC </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as a math tutor for children and young adults struggling with mathematical concepts. Covered material from arithmetic up through calculus. Assessed student skills and needs, explained concepts, and graded completed work.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Independent Researcher</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Hampshire College, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as an independent researcher on the 5-HT2Ar research projects, funded by grants from the Coppinger Fund and the Culture, Brain &amp; Development Program. Designed and executed experiments and protocols, as well as analyzed the data and wrote up findings. Oversaw a team of research assistents as well.  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant for Organic Chemistry I</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Hampshire College, Amherst</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Volunteered as a teaching assistant for Organic Chemistry I. Help office-hours and group study-sessions for students who needed help with problem sets and extra tutoring. Also helped set up the laboratory prior to lab classes and helped oversee students as they worked through projects, assisting when they needed help completing a protocol.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Smith College, Northampton</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as a Research Assistant on the salivary dopamine project. Completed background research as needed, executed protocols, analyzed data, as well as maintaining the lab by cleaning glassware, restocking reagents, and preparing solutions.</p>  
                    </div><!--//details-->
                </div><!--//item-->

		<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Representative to the School of Natural Science</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Amherst, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Met weekly with faculty and staff from the school of Natural Sciences to discuss and vote on school and college policies. Topics of discussion included hiring of temporary and permanent faculty, reviewing professors eligable for rehiring,  school policy. Provided a voice for students and advocated for the interests of the student body.</p>  
                    </div><!--//details-->
                </div><!--//item-->

		<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Emergency Medical Technician</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Amherst, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as an EMT Basic as part of Hampshire College's EMS squad. Certified as an EMT nationally and in the state of Massachusetts. Worked 12-hour on-call shifts, days and overnights, responding to medical or psychiatric crisis. Ran calls as a senior EMT. As a senior EMT, helped oversee the hiring of new EMTs, designed training exercises for junior EMTs, and met with both school administrators and representatives of the student body.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
