<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Research Projects I have worked on, both independently and as part of teams.</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a>5-HT2A receptor &amp; Neurogenesis</a></span> - <span class="project-tagline">Explored the role of the 5-HT2A receptor in regulating neurogenesis in zebrafish. Zebrafish were treated either with N,N-dipropyltryptamine (DPT) or a compination of DPT and ketanserin, and then qPCR was used to detrmine the amounts of BDNF mRNA in the brain tissue. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a>5-HT2A receptor &amp; Anxiety</a></span> - <span class="project-tagline">Explored the previously-documented anti-anxiety effects of 5-HT2A agonists, using zebrafish as an animal model. Zebrafish were given either DPT, or a combination of DPT and ketanserin, and then their behavior was tested in a Novel Tank Task.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a>Greening the Diels-Alder Reaction</a></span> - <span class="project-tagline">Assisted in the synthesis of a novel molecule designed to facilitate the completion of a Diels-Alder reaction in aqueous solutions. Completed the multi-step synthesis and work up, verifying each step with with 1 H NMR.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a>Circadian Rhythms of Salivary Dopamine</a></span> - <span class="project-tagline">Worked as a research assistant analyzing salivary dopamine concentration over 24hr periods from a variety of human volunteers. Collected and purified saliva samples using solid-phase extraction, and analyzed with HPLC. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a>Gene Expression in the Claustrum</a></span> - <span class="project-tagline">Used data from the Allen Brain atlas to search for gene expression specific to the claustrum. Thepurpose was to seek out knock-out targets to help determine the role the claustrum serves in the brain.</span>
                </div><!--//item-->
		
		<div class="item">
                    <span class="project-title"><a>Mystical Experience Among College Students</a></span> - <span class="project-tagline">Designed and executed a survey study examining the history of mystical experiences among college-aged respondents and the correlations between lifetime mystical experiences and mental health. Also examined the relationship between psychoactive substance use, mystical experiences, and psychopathology.</span>
                </div><!--//item-->

            </section><!--//section-->
