<section class="section publications">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Publications</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Scientific Publications</h3>
                    <div class="details">
                        <p>None Available</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Preprints</h3>
                    <div class="details">
                        <p>Varley T., A proposal for the role of Layer V 5-HT2A receptors in cognition and 	perception. 2016</p>  
                        <p>Varley T., Castorino J., Gill C., Exposure to the indolealkylamine psychedelic N,N-dipropyltryptamine 	enhances BDNF mRNA expression in the heads of mature zebrafish. 2016 </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Popular Press</h3>
                    <div class="details">
                        <p>Varley T., "Of Molecules and Minds: The Science of Ayahuasca," Psymposia Magazine, 2016</p>
                        <p>Varley T., "Do psychedelics trigger neurogenesis? Here's what we know," Psymposia Magazine, 2016</p>  
                    </div><!--//details-->
                </div><!--//item-->
            
            </section><!--//section-->
